doctype html
html(lang="en")
    head
        script(type='text/javascript', src='bundle.js')
        link(type='text/css', href='main.css', rel='stylesheet')
    body(onload='onLoad()')
        input(type='file', id='fileUpload', name='upload')
        canvas(id='canvas', width='900', height='563', style='background-color:#fff')
        button(onclick='grayscale()') Grayscale
        button(onclick='filter2()') filter2
        button(onclick='filter3()') filter3
        button(onclick='filter4()') filter4
        button(onclick='filter5()') filter5
