doctype html
html(lang="en")
  head
    script(type='text/javascript', src='bundle.js')
    link(type='text/css', href='main.css', rel='stylesheet')
  body
    header
      h1 Tiny Image Editor
    section.main
      canvas.main-frame(width="200", height="200", style="border:1px solid #000000")
      button.btn.btn-warning Upload
      section.filters
        ul.list
          li.filter
            h3 Filter 1
          li.filter
            h3 Filter 2
          li.filter
            h3 Filter 3
    footer
      a(href='/about-us', target='_blank') About us
