doctype html
html(lang="en")
  head
    link(type='text/css', href='main.css', rel='stylesheet')
  body
    header
      h1 Tiny Image Editor
    section.main
      canvas#main-frame.main-frame(width="400", height="400")
      section.handlers
        button#btn-upload Upload
        input#input-upload.input-upload(type='file')
        button#btn-download Download
        button#btn-undo Undo
      section.filters
        ul.list
          li
            button#grayscale.filter Grayscale
          li
            button#sepia.filter Sepia
          li
            button#brightness.filter Brightness
    footer
      a(href='/about-us', target='_blank') About us
    script(type='text/javascript', src='bundle.js')
