$font-family: Verdana, Geneva, sans-serif;
$font-size: 16px;

$background-color: #ecf0f1;
$primary-color: #d35400;
$primary-color-hover: #e67e22;

$secondary-color: #2980b9;
$secondary-color-hover: #3498db;
